@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}
.header a{
  color: black;
}
.header a img{
  width: 20px;
  height: 20px;
}
.top{
  background-color: rgba(192, 192, 192, 0.216);
  height: 5vh;
}
.top-header{
  display: flex;
  align-items: center;
  justify-content: space-between  ;
  padding-top: 4px;
}
.start{
  display: flex;
  align-items: center;
  justify-content: center;  
  gap: 10px;
}
.end{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.end a.purple{
  color: #7f4dff;;
}
.end .purple:hover{
  color: #5310ff;
}
.end a:nth-child(4), .end a:nth-child(5){
  color:#4d4f59;;
}
.end a:nth-child(4):hover, .end a:nth-child(5):hover{
  color: #000000;
}
.a3{
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.a3:hover{

  background-color: #4d4f591f;
  border-radius: 5px;
}
.header a{
  text-decoration: none;
}

.center{
  margin-top: 4vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:10px;
}
.center a{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.kat{
  width: 140px;
  height: 40px;
  background-color: #e5e5ff;;
  color: #7f4dff;;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.kat:hover{
  background-color:#c0c0ff;
}
.search{
  width: 500px;
  height: 40px;
  position: relative;
}
.search input{
  width: 100%;
  height: 100%;
  border: 1px solid silver;
  border-radius: 3px;
  padding-left: 15px;
}
.search .lupa{
  width: 20%;
  height: 100%;
  background-color: rgba(192, 192, 192, 0.216);
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.translate{
  display: flex;
  align-items: center;
  justify-content: center;
}
.ul {
  margin: 10px 0 -10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ul .li{
  color: #4d4f59;

}
.ul .li:hover{
  color: #151617;
}
.banner {
  margin-top: 30px;
  position: relative;
}

.banner img {
  border-radius: 10px;
}

.elem {
  width: 50px;
  height: 50px;
  background-color: rgba(128, 128, 128, 0.048);
  border: 1px solid rgba(128, 128, 128, 0.219);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.elem img {
  width: 20px;
  height: 20px;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

.dot {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 15px;
}

span {
  width: 8px;
  height: 8px;
  background-color: rgba(245, 245, 245, 0.452);

  border-radius: 50%;
}

.add {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-top: 15px;
}

.button {
  width: 270px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: rgba(192, 192, 192, 0.253);
  border-radius: 15px;
}

.button img {
  width: 30px;
  height: 30px;
}

.button:hover {
  background-color: rgba(192, 192, 192, 0.466);
}

.product:hover {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.062);
}

h2 {
  padding: 20px 0;
}
.product_section{
  margin-top: 30px;
}
.product {
  position: relative;
  height: 520px;  
  border-radius: 6px;
  cursor: pointer;
}


.product p {
  padding: 10px 0;
}

.product_box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.product img {
  width: 215px;
  height: 309px;
  border-radius: 10px;
}

.product_button {
  font-weight: bold;
  border-radius: 15px;
  margin: 0 auto;
  width: 800px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(192, 192, 192, 0.438);
  margin: 50px auto;
}

.product_button:hover {
  background-color: silver;
}
.r2{
  width: 70px;
  height: 15px;
  border: 0;
  border-radius: 10px;
  background-color: yellow;
  text-align: center;
  font-size: 10px;
  position: absolute;
  bottom: 215px;
  left: 5px;
}
.price_with_discount {
  text-decoration: line-through;
  font-size: 10px;
  color: grey;
  position: absolute;
  bottom: 28px;
}
.price {
  position: absolute;
  bottom: 4px;
}
.heart {
  position: absolute;
  top: 10px;
  right: 12px;
  width: 20px;
  height: 20px;
}

.heart img {
  width: 18px;
  height: 18px;
}
.review{
  margin-top: -14px;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  color:rgb(137, 137, 137);
  font-size: 12px;
}
.review img{
  width: 12px;
  height: 12px;
}
.installment{
  width: 120px;
  height: 20px;
  font-size: 14px;
  background-color: yellow;
  border-radius: 6px;
  padding-left: 7px;
  display: flex;
  align-items: center;
  justify-content:start;
}
.basket {
  position: absolute;
  bottom: 10px;
  right: 8px;
  width: 35px;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.212);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.basket img {
  width: 18px;
  height: 18px;
}
.for_up {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 30px;
  right: 25px;
  background-color: rgb(130, 4, 248);
  border-radius: 50%;
}

.for_up img {
  width: 30px;
  height: 30px;
}





.product-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 48px;
  padding: 20px;
  justify-content: center;
}

.product-card {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  width: 230px;
  height: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: black;
}

.product-image-container {
  border-radius: 10px;
  border: 1px solid rgb(209, 209, 209);
  position: relative;
  width: 230px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
}

.heart-icon {

  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s ease;
}

.heart-icon svg {
  width: 24px;
  height: 24px;
}

.heart-icon svg path {
  transition: fill 0.3s ease;
  fill: none;
  stroke: black;
  stroke-width: 2;
}

.heart-icon.favorite svg path {
  fill: red;
  stroke: red;
}


.product-image {
  width: 230px;
  height: 300px;
  object-fit: contain;
  transition: transform 0.2s ease-in-out;

}

.product-image-container:hover .product-image {
  transform: scale(0.9);
}


.product-title,
.product-price,
.product-rating {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.product-title {

  padding-left: 5px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.98px;
  overflow: hidden;
}

.product-price {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.98px;
  padding-top: 3px;
  padding-right: 100px;

}

.product-rating-container {
  display: flex;
  padding-right: 100px;
  align-items: center;
  gap: 5px;
  padding-right: 140px;
}

.star-icon {
  padding-bottom: 4px;
  color: yellow;
  font-size: 16px;
}

.product-rating {
  font-size: 12px;
  font-weight: 500;
  line-height: 16.98px;
  color: rgb(152, 144, 144);
}

.price-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5px;
}

.old-price {
  text-align: left;
  padding-right: 147px;
  font-size: 11px;
  font-weight: 500;
  color: #999;
  text-decoration: line-through;
}

.cart-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.product-card {
  position: relative;
}

.price-container {
  position: relative;
}

.cart-icon {
  position: absolute;
  top: 30%;
  right: 0;
  transform: translateY(-50%);
  background-color: white;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}














.footer{
  margin-top: 50px;
}

.info{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 50px;
}
.info a{
  text-decoration: none;
  color: silver;
  font-size: 13px;
}
.info h1{
  font-size: 14px;

}
ul{
  list-style: none;
}
.li{
  margin: 10px 0;
}
.d2{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.buttons{
  margin-top: 20px;
}
.buttons a{
  font-size: 14px;
  color: black;
  display: flex;
  align-items: center;
  gap: 5px;
}
.buttons img{
  width: 25px;
  height: 25px;
}
.social{
  margin-top: 50px;
}
.s2{
  margin-top: 20px;
  display: flex;
  gap: 15px;
}
.social img{
  width: 40px;
  height: 40px;
}
.foot{
  margin-top: 80px;
}
.foot_in{
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}
.foot a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
#tin{
  color: grey;
  font-size: 14px;
  letter-spacing: 0 ;
  word-spacing: 0;
}




































